{% extends 'users/layout.html' %}

{% block css %}
{% endblock %}

{% block main %}
<div class="card border-left-primary shadow h-100 py-2" style="margin-bottom: 30px;">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 20px;">
                    <strong>
                    Get Your Meal Plan</strong></div>
                    <div class="button12">
                        <form class="user" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                  
                                <input type="number" class="form-control form-control-user" placeholder="Enter Calories..." name="number" style="background-color: white;">
                                <button type="submit" class="btn btn-primary">Get Meal Plan</button>
                            </div>
                        </form>
                    </div>
                
            </div>
           
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}