{% extends 'users/layout.html' %}

{% block css %}
{% endblock %}

{% block main %}
{% for food in response %}
<div class="card border-left-primary shadow h-100 py-2" style="margin-bottom: 30px;">
    <div class="card-header py-3" style="background-color: #aa9166;">
        <h6 class="m-0 font-weight-bold text-primary">{{food.title}}</h6>
    </div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 20px;">
                    <strong>
                    Preparation time: {{food.readyInMinutes}}</strong>
                </div>
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 20px;">
                    <strong>
                        Servings: {{food.servings}}</strong>
                </div>
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 20px;float:right">
                    <strong>
                        <a href="{{food.sourceUrl}}" target="_blank">Click here to know more about this food...</a></strong>
                </div>
            </div>
           
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block js %}
{% endblock %}